table
{
  background-color: lightgray;
  width: 100%;
  position: fixed;
}
.one
{
color: firebrick;
font-size: x-large;
}
h2
{
    background-color: darkgoldenrod;
    position: relative;
    margin: 0%;
}
.image
{
    width: 100%;
    height: 100%;
    margin:0px;
}
body
{
    margin: 0px;
}
.image1
{

}
.two
{
    background-color: ghostwhite;
    position: sticky;
    margin: 0px;
}
